<p id="notice"><%= notice %></p>

<h1>成長記録</h1>
<%= line_chart [ { name: '身長', data: @growth_data.map { |record| record.slice(:date, :height).values } } ] %>
<%= line_chart [ { name: '体重', data: @growth_data.map { |record| record.slice(:date, :weight).values } } ] %>

<%= link_to '成長記録の詳細を閲覧する', growth_record_path(@growth_records) %> 

