<%= link_to t('.register_conditions'), new_daily_condition_path %>

<%= month_calendar events: @conditions do |date, conditions| %>
  <%= date.day %>
  <div>
    <% conditions.each do |condition| %>
      <% if condition.kid.family.id == current_user.families.first.id %>
        <%= link_to condition.kid.kid_name, condition %>
      <% end %>
    <% end %>
  </div>
<% end %>

