<p><%= link_to t('.register_conditions'), new_daily_condition_path %></p>

<div class="calendar">
  <%= month_calendar events: @conditions do |date, conditions| %>
    <div class="date"><%= date.day %></div>
    <div>
      <% conditions.each do |condition| %>
        <% if condition.kid.family.id == current_user.families.first.id %>
          <%= link_to condition.kid.kid_name, condition %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
