  <h1>予防接種詳細ページ</h1>
  <div class="text-center"> 


  <p><strong>接種回数：</strong> <%= @kid_vaccination_record.count %></p>
  <p><strong>接種日：</strong>  <%= @kid_vaccination_record.inplemented_date %></p>

<%= link_to '新規登録する', new_kid_vaccination_record_path %> 
