// Place all the styles related to the daily_conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#comment_content {
  margin: 0 auto;  
  width: 500px;
  border-color: #3f70ed;
  padding: 10px;
  background: #c1ebf0;
  border-radius: 20px;
  border-style: dashed;
}

.box {
  text-align: center;
  border-color: #ffb3b3;
  padding: 30px;
  background: #ffe6e6;
  border-radius: 20px;
  margin: 20px auto;
  margin-top: 100px;
  max-width: 500px;
  border-style: dashed;
}

.box p {
  font-size: 20px;
}

.edit_button {
  padding: 8px;
  border-radius: 20px;
  background: #edc482;
  color: black;
  font-size: 10px;
  border: 1px solid #f1b92c;
}

.delete {
  padding: 8px;
  border-radius: 20px;
  background: #bef4fc;
  color: black;
  font-size: 10px;
  border: 1px solid #50d0f4;
}

.buttons {
  text-align: right;
}

.calendar {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

p {
  font-size: 24px;
  padding: 20px;
}

.date {
  font-size: 15px;
  text-align: left;
}

.calendar-title {
  font-size: 40px;
}

.calendar-heading a {
  margin: 20px;
}

.condition {
  font-size: 30px;
  border-bottom: dotted 4px rgb(238, 76, 211);
  width: 380px;
  padding: 5px;
  margin: 20px;
}